<!DOCTYPE html>
<html>
<head>
  <title>The drunken Twits</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>The Drunken Twits</h1>
[ <%= link_to "BACK TO INDEX..", root_path %> ]
<%= yield %>

</body>
</html>
